.logo {
  width: 100%;
  border-radius: 3rem;
}

.navbar {
  @apply sticky top-0 z-50 mb-5;
}

.react-multiple-carousel__arrow {
  @apply z-10;
}

.navbar {
  background-color: var(--primary-bg);
}

span {
  display: inline-block;
}

.primary-text {
  @apply text-primary-color font-extrabold;
}

p {
  @apply opacity-90;
}

button {
  @apply inline-flex items-center bg-primary-color text-primary-bg font-bold transition-all rounded-lg border-0 p-5 mt-3 gap-3;
}

button:hover {
  @apply bg-transparent ring-primary-color text-primary-color ring-4;
}

.bg-dark {
  background-color: var(--primary-bg);
}

.banner {
  margin: auto;
  padding: 7rem 0 5rem 0;
  max-width: none;
}

.banner,
.banner > * {
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, var(--primary-bg)),
    url("img/banner.svg");

  background-size: cover;
}

.tagline {
  @apply rounded-lg font-bold bg-gradient-to-br from-primary-color to-blue-900 px-4 py-2;
}
