.logo {
  animation: updown 5s infinite;
  @apply w-full rounded-xl;
}

.navbar {
  background-color: transparent !important;
  @apply sticky top-0 z-50 mb-5 bg-gradient-to-b from-primary-bg via-primary-bg to-transparent overflow-x-auto;
}

.react-multiple-carousel__arrow {
  z-index: 10 !important;
}

.grid-item {
  @apply border-primary-color border-4 transition-all;

  .primary-text {
    @apply transition-colors;
  }

  &:hover {
    @apply scale-105 bg-primary-color text-primary-bg;

    .primary-text {
      @apply text-primary-bg;
    }
  }
}

span {
  display: inline-block;
}

.primary-text {
  @apply text-primary-color font-extrabold;
}

p {
  @apply opacity-90;
}

button {
  @apply inline-flex items-center bg-primary-color text-primary-bg font-bold transition-all rounded-lg border-0 p-5 mt-3 gap-3;

  &:hover {
    @apply bg-transparent ring-primary-color text-primary-color ring-4;
  }
}

#root {
  background-color: var(--primary-bg);
}

.banner {
  margin: auto;
  padding: 7rem 0 5rem 0;
  max-width: none;
  @apply relative;

  > * {
    @apply relative;
  }

  &:before {
    content: "";
    background: linear-gradient(transparent, var(--primary-bg)),
      url("img/banner.svg");

    @apply absolute left-0 top-0 w-full h-full bg-cover;
  }
}

.tagline {
  @apply rounded-lg font-bold bg-gradient-to-br from-primary-color to-blue-900 px-4 py-2;
}

@keyframes updown {
  from {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(1rem);
  }
}
